:root {
  font-family: system-ui;
  display:flex;
  justify-content:center;
  align-items:center;
}
.headtohead {
	display:flex;
	flex-direction:rows;
	background-color:rgb(247, 197, 61);
	justify-content:center;
	margin: 0px;
}
.headtohead section {
	text-align:center;
	position:relative;
	top: 10px;
}
.headtohead a {
	position:relative;
	top: 10px;
}


.header-lnks {
	text-align:center;
}

header div {
  
  width: 100vw;
  height: 4vh;
}

.header-lnks {
  text-align: center;
  display: flex;
  margin: 20px;
  padding-left: 40px;
  font-family: system-ui;
  justify-content:center;
  align-items:center;
  width: 100vw;
  height: 9vh;
}

.header-lnks a {
  
  flex-direction: row;
  color: black;
  text-decoration: none;
  padding: 20px;
  margin-bottom: 10px 15px

}
main {
	margin-right: 10vw;
<<<<<<< HEAD
	margin-left: 12vw;
=======
	margin-left: 40vw;
>>>>>>> 334dbd3 (Primeros Cambios de nueva pagina)
}

.screen-img {
  border-radius: 10px;
  height: 400px;
  width: 100%;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(oradtrippin.png);
  background-position: left;
  text-align:left;
  
}

.screen-img h1 {
  
  position: sticky;
  top: 100%;
  padding: 10px;
  color: white;
  background-color: black;
  
  
}
.tags  {
  text-align: center;
  display: flex;
  margin: 10px;
  padding-left: 40px;
  justify-content:center;
  align-items:center;
  
  
  
}
.tags span {
  margin-right: 10px;
  
}

.tags button{
  background-color: rgb(252, 196, 93);
  flex-direction: row;
  color: rgb(37, 37, 37);
  text-decoration: none;
  margin-right: 10px;
  margin-bottom: 10px 15px;
  border: 0px;
  padding: 10px;
  border-radius: 10cm;
  text-transform: capitalize;
  font-family: monospace;

}
.text-contain {
  margin-right:23vw;
  margin-left: 3vw;
  font-size: 17px;
}
@media (width < 600px) {
  .text-contain {
    text-align: left;
    transform: translateX(45px);
    
  }
  
  

  main {
    text-align: center;
  }
}

lateral-info {
  position: absolute;
  left:100vw;
  top:50vh;
}
@keyframe 
